@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
    margin: 0;
}

.chat {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.settings{
    position: absolute;
    top: 3vh;
    right: 3vw;
}

.menu {
    position: absolute;
    right: 3vw;
    top: 4.5vw;
    transition-timing-function: ease-in;
}

.darkMenu {
    background: #d5d5d5;
    padding: 10px;
    color: black;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.divider {
    background: #202124;
    height: 1px;
}

.logoutMenu {
    background: #d5d5d5;
    padding: 10px;
    color: black;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}

.header-m {
    position: absolute;
    top: 1vh;
    left: 2vh;
}

.header-l {
    position: absolute;
    top: 1vh;
    left: 1vh;
}

.settings:hover{
    cursor: pointer;
    visibility :visible;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.chat-body {
    display: flex;
}

.chat-list {
    margin: 120px 0px 20px 20px;
    flex: 0.25 1;
    height: 85vh;
    background-color: #f1f1f1;
    overflow-y: scroll;
}

.chat-list-m {
    margin: 20px 0px 20px 0px;
    height: 85vh;
    overflow-y: scroll;
}

.input-wrapper {
    position: relative;
}

.input-wrapper-m {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.search-icon {
    font-family: FontAwesome;
    position: absolute;
    right: 10%;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fb5454;
}

.search-icon-m {
    font-family: FontAwesome;
    position: absolute;
    right: 7%;
    top: 55%;
    font-size: 20px;
    cursor: pointer;
    color: #fb5454;
}

#search-user{
    margin-left: 5%;
    width: 85%;
    margin-bottom: 0px;
    font-family: FontAwesome;
}

#search-user-m {
    width: 90%;
    margin-bottom: 0px;
    font-family: FontAwesome;
}

.user-list {
    padding: 30px;
}

.user-list-m {
    padding: 30px;
}

.default-txt {
    margin-top: 100px;
    flex: 0.75;
    height: 85vh;
    text-align: center;
}

.txt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    color: grey;
}

#hamburger{
    display: none;
}

@media (max-width: 1290px) {
    .header-l {
        top: 2vh;
        left: 2vw;
    }
}

@media (max-width: 412px) {
    .header-m {
        top: 2.5vh;
    }

    .input-wrapper-m {
        margin-top: 70px;
    }

    #search-user-m {
        width: 85%;
    }

    .search-icon-m {
        top: 50%;
    }

    .user-list-m {
        padding: 10px 15px;
    }
}