@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
    margin: 0;
}

.chat {
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.chat-body {
    display: flex;
}

.chat-list {
    margin: 70px 0px 20px 20px;
    flex: 0.25 1;
    height: 85vh;
    background-color: #f1f1f1;
    overflow-y: scroll;
}

.input-wrapper {
    position: relative;
}

.search-icon {
    font-family: FontAwesome;
    position: absolute;
    right: 10%;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fb5454;
}

#search-user{
    margin-left: 5%;
    width: 85%;
    margin-bottom: 0px;
    font-family: FontAwesome;
}

.user-list {
    padding: 30px;
}

.default-txt {
    flex: 0.75;
    height: 85vh;
    text-align: center;
}

.txt {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    color: grey;
}